.id1{
    display: flex;
    flex-wrap: wrap;

  /*   gap: 40px; */
 
    margin-top: 10px;
}

#grafico{
    background: linear-gradient(to top, black,black, rgb(56, 20, 156),black, black) 
  }
  #contenedor{/* 
    background-color: blue; */
    background-image: url("https://i.pinimg.com/564x/97/a9/0b/97a90b0feb191d6bde50897b19cb1328.jpg");
    align-items: center;
  }
.card {
  align-items: center;
  background-image: url("https://i.pinimg.com/564x/97/a9/0b/97a90b0feb191d6bde50897b19cb1328.jpg");

}